@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Public Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-weight: 700;
}

body {
    background-color: rgba(33, 33, 35, 1);
    background-image: url(/images/layered-waves.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#content {
    background-color: rgba(33, 33, 35, 0.55)
}

.panel {
    background-color: rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(2px);
}